html {
  color: white;
  text-align: center;
background-color: #272F52;
}
h1 {
font-family: 'Oxygen', sans-serif;
}
h2, h3 {
font-family: 'Paytone One', sans-serif;
}
p, a, strong {
font-family: 'Overpass', sans-serif;
}
