html {
  color: white;
background-color: #272F52;
  text-align: center;
}
h1 {
font-family: 'Oxygen', sans-serif;
}
h2, h3 {
font-family: 'Paytone One', sans-serif;
}
p, a {
  color: white;
font-family: 'Overpass', sans-serif;
}
